[submodule "backend"]
	path = backend
	url = https://github.com/juling-go/backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/juling-go/frontend
[submodule "data"]
	path = data
	url = https://github.com/juling-go/data
